<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BB_App</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_antigram">Add Antigram</a></li>
            <li><a href="/cell_finder">Cell Finder</a></li>
            <li><a href="/antibody_id">Antibody ID</a></li>
            <li><a href="/antigen_rules">Antigen Rules</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
